config ZEPHLET_UI
    bool "UI Zephlet Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the UI Zephlet Module in the build.
      This module provides user interface functionalities for the application.

if(ZEPHLET_UI)

module = ZEPHLET_UI
module-str = zlet_ui
source "subsys/logging/Kconfig.template.log_config"

endif
