config ADAPTERS
    bool "Zephlet adapters"
    default y
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      tbd

if(ADAPTERS)

config TICK_TO_UI_ADAPTER
    bool "From tick to ui zephlet adapter"
    default y
    depends on TICK_ZEPHLET && UI_ZEPHLET

config DEBUG_ADAPTER
    bool "From any to main zephlet adapter"
    default y
    depends on TICK_ZEPHLET && TAMPER_DETECTION_ZEPHLET

config BATTERY_TO_STORAGE_ADAPTER
	bool "From battery to storage zephlet adapter"
	default y
	depends on BATTERY_ZEPHLET && STORAGE_ZEPHLET

config TICK_TO_STORAGE_ADAPTER
	bool "From tick to storage zephlet adapter"
	default y
	depends on TICK_ZEPHLET && STORAGE_ZEPHLET

module = ADAPTERS
module-str = adapter
source "subsys/logging/Kconfig.template.log_config"

endif
