config ADAPTERS
    bool "Zephlet adapters"
    default y
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      tbd

if(ADAPTERS)

config TICK_TO_UI_ADAPTER
    bool "From tick to ui zephlet adapter"
    default y
    depends on ZEPHLET_TICK && ZEPHLET_UI

config DEBUG_ADAPTER
    bool "From any to main zephlet adapter"
    default y
    depends on ZEPHLET_TICK && ZEPHLET_TAMPER_DETECTION

config BATTERY_TO_STORAGE_ADAPTER
	bool "From battery to storage zephlet adapter"
	default y
	depends on ZEPHLET_BATTERY && ZEPHLET_STORAGE

config TICK_TO_STORAGE_ADAPTER
	bool "From tick to storage zephlet adapter"
	default y
	depends on ZEPHLET_TICK && ZEPHLET_STORAGE

config POSITION_TO_BATTERY_ADAPTER
	bool "From position to battery zephlet adapter"
	default y
	depends on ZEPHLET_POSITION && ZEPHLET_BATTERY

module = ADAPTERS
module-str = adapter
source "subsys/logging/Kconfig.template.log_config"

endif
