config POSITION_ZEPHLET
    bool "Position Zephlet Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the Position Zephlet Module in the build.
      Position Zephlet Module.

if(POSITION_ZEPHLET)

module = POSITION_ZEPHLET
module-str = position_zephlet
source "subsys/logging/Kconfig.template.log_config"

endif
