config ZEPHLET_TICK
    bool "Tick Zephlet Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the tick zephlet module which provides periodic tick functionality.

if(ZEPHLET_TICK)

module = ZEPHLET_TICK
module-str = zlet_tick
source "subsys/logging/Kconfig.template.log_config"

endif
