config ADAPTERS
    bool "Zephlet adapters"
    default y
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      tbd

if(ADAPTERS)

config TICK_TO_UI_ADAPTER
    bool "From tick to ui zephlet adapter"
    default y
    depends on ZEPHLET_TICK && ZEPHLET_UI

config DEBUG_ADAPTER
    bool "From any to main zephlet adapter"
    default y
    depends on ZEPHLET_TICK && ZEPHLET_TAMPER_DETECTION

config TAMPERING_TO_UI_ADAPTER
	bool "From tampering to ui zephlet adapter"
	default y
	depends on ZEPHLET_TAMPERING && ZEPHLET_UI

module = ADAPTERS
module-str = adapter
source "subsys/logging/Kconfig.template.log_config"

endif
