config TICK_ZEPHLET
    bool "Tick Zephlet Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the tick zephlet module which provides periodic tick functionality.

if(TICK_ZEPHLET)

module = TICK_ZEPHLET
module-str = tick_zephlet
source "subsys/logging/Kconfig.template.log_config"

endif
