config TAMPER_DETECTION_SERVICE
    bool "Tamper Detection Service Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the Tamper Detection Service Module in the build.
      Tamper Detection Service Module.

if(TAMPER_DETECTION_SERVICE)

module = TAMPER_DETECTION_SERVICE
module-str = tamper_detection_service
source "subsys/logging/Kconfig.template.log_config"

endif
