config BATTERY_ZEPHLET
    bool "Battery Zephlet Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the Battery Zephlet Module in the build.
      Battery Zephlet Module.

if(BATTERY_ZEPHLET)

module = BATTERY_ZEPHLET
module-str = battery_zephlet
source "subsys/logging/Kconfig.template.log_config"

endif
