config TICK_SERVICE
    bool "Tick Service Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the tick service module which provides periodic tick functionality.

if(TICK_SERVICE)

module = TICK_SERVICE
module-str = tick_service
source "subsys/logging/Kconfig.template.log_config"

endif
