config ZEPHLET_STORAGE
    bool "Storage Zephlet Module"
    select NANOPB
    select ZBUS
    select ZBUS_ASYNC_LISTENER
    help
      Enable this option to include the Storage Zephlet Module in the build.
      Storage Zephlet Module.

if(ZEPHLET_STORAGE)

module = ZEPHLET_STORAGE
module-str = zlet_storage
source "subsys/logging/Kconfig.template.log_config"

endif
