syntax = "proto3";

import "nanopb.proto";
import "service.proto";

option (nanopb_fileopt).anonymous_oneof = true;

message Msg{{ service_name_pascal }}Service {
    message Config {
        // TODO: Add configuration fields specific to {{ service_name }}
    }

    message Events {
        // TODO: Add event fields specific to {{ service_name }}
    }

    message Invoke {
        oneof {{ service_name_lower }}_invoke {
{% if include_basic_commands %}
            Empty start = 1;
            Empty stop = 2;
            Empty get_status = 3;
            Config config = 4;
            Empty get_config = 5;
            Empty get_events = 6;
{% endif %}
        }
    }

    message Report {
        oneof {{ service_name_lower }}_report {
            MsgServiceStatus status = 1;
            Config config = 2;
            Events events = 3;
        }
    }
}

service {{ service_name_pascal }}Service {
{% if include_basic_commands %}
    rpc start (Empty) returns (MsgServiceStatus);
    rpc stop (Empty) returns (MsgServiceStatus);
    rpc get_status (Empty) returns (MsgServiceStatus);
    rpc config (Msg{{ service_name_pascal }}Service.Config) returns (Msg{{ service_name_pascal }}Service.Config);
    rpc get_config (Empty) returns (Msg{{ service_name_pascal }}Service.Config);
    /* This will report the {{ service_name_lower }} events */
    rpc get_events (Empty) returns (stream Msg{{ service_name_pascal }}Service.Events);
{% endif %}
}
